.working{
    padding-top: 114px;
    background-color: rgba(143, 76, 23, 0.2);
}

.working__title h1{
    padding-bottom: 126px;
    width: 380px;
    font-weight: 400;
    font-size: 43px;
}

.working__cart{
    padding-left: 80px;
}

.working__cart-title{
    display: flex;
    
    h1{
        padding-left: 6px;
    }
}

